/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
/* Fonts */

*{
 box-sizing: border-box;   
}

video, img{
    max-width: 100%;
}

html, body{
    margin: 0;
    padding: 0;
}


.AldiH1{
    font-size: 60px;
    text-align: center;
    font-family: 'Jaldi', sans-serif;
}

